.body{
    background-color: #f5f5f5;
}
.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    background-color: #f5f5f5;

}     

.cart{
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}
